<html>
    <head>
        <title>Login da Page</title>
        <link rel="stylesheet" href="{{ url_for( "static", filename="style.css" ) }}">
    </head>
<body class="login">
    <div>
        <form>
            <input id="username" name="username" placeholder="Enter Username" type="text"> </br></br>
            <input id="password" name="password" placeholder="Enter password" type="password"> </br></br>
            <button type="submit">LOGERIINN</button>
        </form>

        <h2>AHHH NO ACCOUNT I SEE</h2> <a href="/register">CREATE DA ACCOUNT HERE</a>
    </div>
</body>

</html> 
